@use '../base/theme';
@use '../base/screen-size';
@use '../components/menu';

$header-height: menu.$menubar-height;

.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  width: 100%;
  height: $header-height;
  padding: 0 12px 0 22px;
  background-color: theme.$bg-primary;
  box-shadow: theme.$box-shadow;
  color: theme.$text-color-primary;
  z-index: calc(theme.$overlay-layer + 1);
 
  &__menu {
    top: $header-height;
    flex-shrink: 0;
  }  

  &__phone {
    flex-shrink: 0;
    margin-left: auto;
  }

  &__menu-button {
    order: 2;
  }

  &__logo {
    flex-shrink: 0;
  }
}

@media (min-width: screen-size.$small) {
  .header {
    padding: 0 22px;
    gap: 40px;

    &__phone {
      margin-left: 0;
    }
  }
}

@media (min-width: screen-size.$large) {
  .header {
    padding: 0 122px;
    gap: 20px;

    &__menu { 
      top: 0;
      max-width: 70%;
    }

    &__menu-button {
      display: none;
    }

    &__phone {
      order: 1;
    }
  }
}
