@use '../base/screen-size';

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__header {
    flex-shrink: 0;
  }

  &__content {
    flex-grow: 1;
  }
}
